[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=ie6
Icon=/usr/share/ies4linux/ies4linux.svg
Name=Internet Explorer 6.0
GenericName=Microsoft Windows Application
Comment=Internet Explorer 6.0
Categories=Network;WebBrowser;
# vi: encoding=utf-8
