[Desktop Entry]
Name=Internet Explorer 6.0
Name[pl]=Internet Explorer 6.0
GenericName=Web Browser
GenericName[pl]=Przeglądarka WWW
Comment=Internet Explorer 6.0
Comment[pl]=Internet Explorer 6.0
Type=Application
Exec=ie6
Icon=/usr/share/ies4linux/ies4linux.svg
Categories=Network;WebBrowser;
# vi: encoding=utf-8
